appdirs==1.4.4
argcomplete==3.1.4
attrs==23.2.0
Babel==2.10.3
bcc==0.29.1
bcrypt==3.2.2
beautifulsoup4==4.12.3
blinker==1.7.0
bloom==0.12.0
breezy==3.3.5
Brlapi==0.8.5
Brotli==1.1.0
catkin-pkg==1.0.0
catkin-pkg-modules==1.0.0
certifi==2023.11.17
chardet==5.2.0
click==8.1.6
cloud-init==24.4.1
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.2.1
colcon-cmake==0.2.29
colcon-common-extensions==0.3.0
colcon-core==0.19.0
colcon-defaults==0.2.9
colcon-devtools==0.3.0
colcon-installed-package-information==0.2.1
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-mixin==0.2.3
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-override-check==0.0.1
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.9
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
colorama==0.4.6
command-not-found==0.3
configobj==5.0.8
contourpy==1.0.7
coverage==7.4.4
cryptography==41.0.7
cssselect==1.2.0
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.3.2
decorator==5.1.1
defer==1.0.6
Deprecated==1.2.14
distlib==0.3.8
distro==1.9.0
distro-info==1.7+build1
docutils==0.20.1
dulwich==0.21.6
duplicity==2.1.4
empy==3.3.4
fastbencode==0.2
fasteners==0.18
fastimport==0.9.14
fastjsonschema==2.19.0
flake8==7.0.0
flake8-builtins==2.1.0
flake8-comprehensions==3.14.0
flake8-docstrings==1.6.0
flake8-import-order==0.18.2
flake8-quotes==3.4.0
fonttools==4.46.0
fs==2.4.16
GDAL==3.8.4
gpg==1.18.0
html5lib==1.1
httplib2==0.20.4
idna==3.6
importlib-metadata==4.12.0
iniconfig==1.1.1
Jinja2==3.1.2
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.10.3
jupyter_core==5.3.2
kiwisolver==0.0.0
language-selector==0.1
lark==1.1.9
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
louis==3.29.0
lxml==5.2.1
lz4==4.0.2+dfsg
Mako==1.3.2.dev0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.6.3
mccabe==0.7.0
mdurl==0.1.2
mercurial==6.7.2
merge3==0.0.8
monotonic==1.6
more-itertools==10.2.0
mpi4py==3.1.5
mpmath==0.0.0
nbformat==5.9.1
netaddr==0.8.0
netifaces==0.11.0
notify2==0.3
numpy==1.26.4
oauthlib==3.2.2
olefile==0.46
OWSLib==0.29.3
packaging==24.0
paramiko==2.12.0
patiencediff==0.2.13
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.2.0
plotly==5.15.0
pluggy==1.4.0
psutil==5.9.8
psycopg2==2.9.9
ptyprocess==0.7.0
pycairo==1.25.1
pycodestyle==2.11.1
pycups==2.0.1
pydocstyle==6.3.0
pydot==1.4.2
pyflakes==3.2.0
PyGithub==2.2.0
Pygments==2.17.2
PyGObject==3.48.2
PyJWT==2.7.0
PyNaCl==1.5.0
pyparsing==3.1.1
pyproj==3.6.1
PyQt5==5.15.10
PyQt5-sip==12.13.0
pyrsistent==0.20.0
pyserial==3.5
pytest==7.4.4
pytest-cov==4.1.0
python-apt==2.7.7+ubuntu4
python-dateutil==2.8.2
python-debian==0.1.49+ubuntu2
pytz==2024.1
pyxdg==0.28
PyYAML==6.0.1
QScintilla==2.14.1
requests==2.31.0
rich==13.7.1
roman==3.3
rosdep==0.25.1
rosdep-modules==0.25.1
rosdistro==1.0.1
rosdistro-modules==1.0.1
rospkg-modules==1.6.0
SciPy==1.11.4
screen-resolution-extra==0.0.0
setuptools==68.1.2
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.5
sympy==1.12
systemd-python==235
tenacity==8.2.3
traitlets==5.5.0
typing_extensions==4.10.0
tzlocal==5.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.16.0
ufw==0.36.2
unattended-upgrades==0.1
unicodedata2==15.1.0
urllib3==2.0.7
usb-creator==0.3.16
vcstool==0.3.0
vcstools==0.1.42
wadllib==1.3.6
webencodings==0.5.1
wheel==0.42.0
wrapt==1.15.0
xdg==5
xkit==0.0.0
zipp==1.0.0
